Webservice/.DS_Store
Webservice/node_modules/
Webservice/npm-debug.log*
Webservice/yarn-debug.log*
Webservice/yarn-error.log*
Webservice/test/unit/coverage/
Webservice/test/e2e/reports/
Webservice/selenium-debug.log
Webservice/dist
Webservice/dist/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Junk
docs
preview
